<a href="https://colab.research.google.com/github/shiva-lab/Walmart-M5_AccuracyPrediction/blob/master/wallmart_LSTM_Keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
#changing the working directory
%cd /content/gdrive/My Drive/Kaggle

/content/gdrive/My Drive/Kaggle

In [ ]:
pwd

'/content/gdrive/My Drive/Kaggle'

In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
from sklearn.impute import SimpleImputer
import fbprophet
from itertools import cycle
from keras.models import Sequential
from keras.layers import Dense
from keras.metrics import mean_squared_error
from keras.layers import BatchNormalization
from keras.layers import LSTM

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning:

pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.

In [ ]:
calendar= pd.read_csv('/content/gdrive/My Drive/Kaggle/calendar.csv')
prices= pd.read_csv('/content/gdrive/My Drive/Kaggle/sell_prices.csv')
sales_train_evaluation= pd.read_csv('/content/gdrive/My Drive/Kaggle/sales_train_evaluation.csv')

In [ ]:
print("Calendar shape: ", calendar.shape)
print("prices shape: ",prices.shape)
print("sales shape : ", sales_train_evaluation.shape)
#print("sales validation shape: " , sales_train_validation.shape)

Calendar shape:  (1969, 14)
prices shape:  (6841121, 4)
sales shape :  (30490, 1947)

In [ ]:
#Downcast in order to save memory
def transform (df):
    cols = df.dtypes.index.tolist()
    types = df.dtypes.values.tolist()
    for i,t in enumerate(types):
        if 'int' in str(t):
            if df[cols[i]].min() > np.iinfo(np.int8).min and df[cols[i]].max() < np.iinfo(np.int8).max:
                df[cols[i]] = df[cols[i]].astype(np.int8)
            elif df[cols[i]].min() > np.iinfo(np.int16).min and df[cols[i]].max() < np.iinfo(np.int16).max:
                df[cols[i]] = df[cols[i]].astype(np.int16)
            elif df[cols[i]].min() > np.iinfo(np.int32).min and df[cols[i]].max() < np.iinfo(np.int32).max:
                df[cols[i]] = df[cols[i]].astype(np.int32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.int64)
        elif 'float' in str(t):
            if df[cols[i]].min() > np.finfo(np.float16).min and df[cols[i]].max() < np.finfo(np.float16).max:
                df[cols[i]] = df[cols[i]].astype(np.float16)
            elif df[cols[i]].min() > np.finfo(np.float32).min and df[cols[i]].max() < np.finfo(np.float32).max:
                df[cols[i]] = df[cols[i]].astype(np.float32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.float64)
        '''elif t == np.object:
            if cols[i] == 'date':
                df[cols[i]] = pd.to_datetime(df[cols[i]], format='%Y-%m-%d')
            else:
                df[cols[i]] = df[cols[i]].astype('category')'''
    return df  

sales_train_evaluation = transform(sales_train_evaluation)
prices = transform(prices)

In [ ]:
prices = transform(prices)

In [ ]:
calendar.head(2)

         date  wm_yr_wk   weekday  wday  ...  event_type_2  snap_CA snap_TX snap_WI
0  2011-01-29     11101  Saturday     1  ...           NaN        0       0       0
1  2011-01-30     11101    Sunday     2  ...           NaN        0       0       0

[2 rows x 14 columns]

In [ ]:
prices.head(2)

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58

In [ ]:
sales_train_evaluation.head(2)

                              id        item_id  ... d_1968 d_1969
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...      0      0
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...      0      0

[2 rows x 1975 columns]

Currently, the data is in three dataframes: sales, prices & calendar. The sales dataframe contains daily sales data with days(d_1 - d_1969) as columns. The prices dataframe contains items' price details and calendar contains data about the days d.

# Data Preprocessing

In [ ]:
# Preprocess: remove id, item_id, dept_id, cat_id, store_id, state_id columns
startDay = 350  # Remove the first 350 days in train sales data due to zero_inflated data
sales_train_evaluation = sales_train_evaluation.T
sales_train_evaluation = sales_train_evaluation[6 + startDay:]
sales_train_evaluation.head(5)

      0     1     2     3     4     5      ... 30484 30485 30486 30487 30488 30489
d_351     0     0     0     2     0     0  ...    11     0     0     1     0     0
d_352     0     0     0     0     0     0  ...     8     0     1     2     0     0
d_353     0     0     0     4     2     0  ...     3     0     1     2     0     0
d_354     0     1     0     2     0     0  ...     3     0     0     0     0     0
d_355     0     0     0     1     2     0  ...     1     0     1     1     0     0

[5 rows x 30490 columns]

I have removed the first six colums id, item_id, dept_id, cat_id, store_id, state_id columns, to end up only days as rows

In [ ]:
# Initialize a dataframe with zeros for 1969 days in the calendar
 #"1" is assigned to the days before the event_name_. 
daysBeforeEvent1 = pd.DataFrame(np.zeros((1969,1)))
daysBeforeEvent2 = pd.DataFrame(np.zeros((1969,1)))

snap_CA = pd.DataFrame(np.zeros((1969,1)))
snap_TX = pd.DataFrame(np.zeros((1969,1)))
snap_WI = pd.DataFrame(np.zeros((1969,1)))


# Label 1 to one day before the event_name_1 
# Label 1 to one day before the event_name_2
# Sales are likely to increase one day before events like superbowl etc.

# Label 1 to days on snap_CA
# Label 1 to days on snap_TX
# Label 1 to days on snap_WI

for x,y in calendar.iterrows():
    if((pd.isnull(calendar["event_name_1"][x])) == False):
           daysBeforeEvent1[0][x-1] = 1 
            
    if((pd.isnull(calendar["event_name_2"][x])) == False):
           daysBeforeEvent2[0][x-1] = 1    
    
    
    if((pd.isnull(calendar["snap_CA"][x])) == False):
           snap_CA[0][x] = 1    
        
    if((pd.isnull(calendar["snap_TX"][x])) == False):
           snap_TX[0][x] = 1    
        
    if((pd.isnull(calendar["snap_WI"][x])) == False):
           snap_WI[0][x] = 1

In [ ]:
del calendar

**Creating training, validation, evaluation dataset**

In [ ]:
# split dataset into evaluation (last 2 weeks), validation (first 2 weeks), training  
# input for predicting validation period day 1941 to 1969

daysBeforeEvent1_eval = daysBeforeEvent1[1941:]
daysBeforeEvent2_eval = daysBeforeEvent2[1941:]

snap_CA_eval = snap_CA[1941:]
snap_TX_eval = snap_TX[1941:]
snap_WI_eval = snap_WI[1941:]


# input for predicting validation period day 1913 to 1941

daysBeforeEvent1_valid = daysBeforeEvent1[1913:1941] 
daysBeforeEvent2_valid = daysBeforeEvent2[1913:1941]

snap_CA_valid = snap_CA[1913:1941] 
snap_TX_valid = snap_TX[1913:1941]
snap_WI_valid = snap_WI[1913:1941]

# input for training as a feature
# daysBeforeEvent1 = daysBeforeEvent1[startDay:1913] 
# daysBeforeEvent2 = daysBeforeEvent2[startDay:1913] 
daysBeforeEvent1 = daysBeforeEvent1[startDay:1941] 
daysBeforeEvent2 = daysBeforeEvent2[startDay:1941]

snap_CA = snap_CA[startDay:1941] 
snap_TX = snap_TX[startDay:1941] 
snap_WI = snap_WI[startDay:1941]

In [ ]:
#Before concatanation with our main data "sale_tratrain_evaluation", indexes are made same and column name is changed to "oneDayBeforeEvent"
daysBeforeEvent1.columns = ["oneDayBeforeEvent1"]
daysBeforeEvent1.index = sales_train_evaluation.index

daysBeforeEvent2.columns = ["oneDayBeforeEvent2"]
daysBeforeEvent2.index = sales_train_evaluation.index


snap_CA.columns = ["snap_CA"]
snap_CA.index = sales_train_evaluation.index

snap_TX.columns = ["snap_TX"]
snap_TX.index = sales_train_evaluation.index

snap_WI.columns = ["snap_WI"]
snap_WI.index = sales_train_evaluation.index

In [ ]:
sales_train_evaluation = pd.concat([sales_train_evaluation, daysBeforeEvent1, daysBeforeEvent2,
                        snap_CA, snap_TX, snap_WI], axis = 1, sort=False)
sales_train_evaluation.head()  # additional features (event1, event2, SNAP) are added

       0  1  2  3  ... oneDayBeforeEvent2 snap_CA snap_TX snap_WI
d_351  0  0  0  2  ...                0.0     1.0     1.0     1.0
d_352  0  0  0  0  ...                0.0     1.0     1.0     1.0
d_353  0  0  0  4  ...                0.0     1.0     1.0     1.0
d_354  0  1  0  2  ...                0.0     1.0     1.0     1.0
d_355  0  0  0  1  ...                0.0     1.0     1.0     1.0

[5 rows x 30495 columns]

**Standardizing features**

This helps to ensure that the sales values are between 0 and 1, and this helps the gradient descent optimization algorithm in LSTM model.

In [ ]:
#Feature Scaling: Scale features using min-max scaler in range 0-1
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler(feature_range = (0, 1))

train_sales_scaled = sc.fit_transform(sales_train_evaluation)

In [ ]:
timesteps = 28  # use the last 28 days to predict the next day's sales
X_train = []
y_train = []

for i in range(timesteps, 1941 - startDay):
    X_train.append(train_sales_scaled[i-timesteps:i])
    y_train.append(train_sales_scaled[i][0:30490])

In [ ]:
del train_sales_scaled

In [ ]:
#Convert to np array to be able to feed the LSTM model,### Data preparation for LSTM, turn 2D array to 3D as input
X_train = np.array(X_train)
y_train = np.array(y_train)
print(X_train.shape)
print(y_train.shape)

(1563, 28, 30495)
(1563, 30490)

**CNN-LSTM Model**

In [ ]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM,Dropout

tf.random.set_seed(51)
np.random.seed(51)

n_timesteps = X_train.shape[1]
n_products = X_train.shape[2]


model = tf.keras.models.Sequential([
    tf.keras.layers.Conv1D(filters=128, kernel_size=7,
                      strides=1, padding="causal",
                      activation="relu",
                      input_shape=(n_timesteps, n_products)),
    tf.keras.layers.MaxPooling1D(),
    tf.keras.layers.Conv1D(filters=64, kernel_size=7, 
                           strides=1, activation='relu', padding="causal"),
    tf.keras.layers.MaxPooling1D(),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(512, return_sequences=True)),
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(256, return_sequences=True)),
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(128)),
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Dense(30490)
])


opt_adam = tf.keras.optimizers.Adam(clipvalue=0.5)

model.compile(loss='mse',
              optimizer=opt_adam, 
              metrics=[tf.keras.metrics.RootMeanSquaredError()])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d (Conv1D)              (None, 28, 128)           27323648
_________________________________________________________________
max_pooling1d (MaxPooling1D) (None, 14, 128)           0
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 14, 64)            57408
_________________________________________________________________
max_pooling1d_1 (MaxPooling1 (None, 7, 64)             0
_________________________________________________________________
bidirectional (Bidirectional (None, 7, 1024)           2363392
_________________________________________________________________
batch_normalization (BatchNo (None, 7, 1024)           4096
_________________________________________________________________
bidirectional_1 (Bidirection (None, 7, 512)            2623488
_________________________________________________________________
batch_normalization_1 (Batch (None, 7, 512)            2048
_________________________________________________________________
bidirectional_2 (Bidirection (None, 256)               656384
_________________________________________________________________
batch_normalization_2 (Batch (None, 256)               1024
_________________________________________________________________
dense (Dense)                (None, 30490)             7835930
=================================================================
Total params: 40,867,418
Trainable params: 40,863,834
Non-trainable params: 3,584
_________________________________________________________________

In [ ]:
# Define a Callback class that stops training when the val_loss degrades above 150 epochs
# and also saves the model as checkpoints

from keras.callbacks import EarlyStopping
from keras.callbacks import ModelCheckpoint

es = EarlyStopping(monitor='val_loss', mode='min', verbose=1, patience=32)

In [ ]:
# Fitting the RNN to the Training set
epochs = 45
batch_size = 68
model.fit(X_train, y_train, epochs = epochs, batch_size = batch_size)

Epoch 1/45
23/23 [==============================] - 3s 142ms/step - loss: 0.0257 - root_mean_squared_error: 0.1604
Epoch 2/45
23/23 [==============================] - 3s 128ms/step - loss: 0.0194 - root_mean_squared_error: 0.1393
Epoch 3/45
23/23 [==============================] - 3s 131ms/step - loss: 0.0161 - root_mean_squared_error: 0.1268
Epoch 4/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0148 - root_mean_squared_error: 0.1216
Epoch 5/45
23/23 [==============================] - 3s 131ms/step - loss: 0.0146 - root_mean_squared_error: 0.1209
Epoch 6/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0144 - root_mean_squared_error: 0.1202
Epoch 7/45
23/23 [==============================] - 3s 129ms/step - loss: 0.0143 - root_mean_squared_error: 0.1196
Epoch 8/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0142 - root_mean_squared_error: 0.1191
Epoch 9/45
23/23 [==============================] - 3s 129ms/step - loss: 0.0141 - root_mean_squared_error: 0.1188
Epoch 10/45
23/23 [==============================] - 3s 129ms/step - loss: 0.0140 - root_mean_squared_error: 0.1183
Epoch 11/45
23/23 [==============================] - 3s 128ms/step - loss: 0.0140 - root_mean_squared_error: 0.1181
Epoch 12/45
23/23 [==============================] - 3s 129ms/step - loss: 0.0139 - root_mean_squared_error: 0.1177
Epoch 13/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0138 - root_mean_squared_error: 0.1175
Epoch 14/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0137 - root_mean_squared_error: 0.1172
Epoch 15/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0137 - root_mean_squared_error: 0.1172
Epoch 16/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0136 - root_mean_squared_error: 0.1168
Epoch 17/45
23/23 [==============================] - 3s 129ms/step - loss: 0.0136 - root_mean_squared_error: 0.1165
Epoch 18/45
23/23 [==============================] - 3s 129ms/step - loss: 0.0135 - root_mean_squared_error: 0.1162
Epoch 19/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0135 - root_mean_squared_error: 0.1161
Epoch 20/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0134 - root_mean_squared_error: 0.1157
Epoch 21/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0133 - root_mean_squared_error: 0.1154
Epoch 22/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0133 - root_mean_squared_error: 0.1152
Epoch 23/45
23/23 [==============================] - 3s 129ms/step - loss: 0.0132 - root_mean_squared_error: 0.1149
Epoch 24/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0131 - root_mean_squared_error: 0.1146
Epoch 25/45
23/23 [==============================] - 3s 131ms/step - loss: 0.0131 - root_mean_squared_error: 0.1144
Epoch 26/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0130 - root_mean_squared_error: 0.1141
Epoch 27/45
23/23 [==============================] - 3s 131ms/step - loss: 0.0129 - root_mean_squared_error: 0.1138
Epoch 28/45
23/23 [==============================] - 3s 129ms/step - loss: 0.0129 - root_mean_squared_error: 0.1136
Epoch 29/45
23/23 [==============================] - 3s 128ms/step - loss: 0.0129 - root_mean_squared_error: 0.1135
Epoch 30/45
23/23 [==============================] - 3s 129ms/step - loss: 0.0128 - root_mean_squared_error: 0.1131
Epoch 31/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0127 - root_mean_squared_error: 0.1128
Epoch 32/45
23/23 [==============================] - 3s 129ms/step - loss: 0.0126 - root_mean_squared_error: 0.1125
Epoch 33/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0126 - root_mean_squared_error: 0.1123
Epoch 34/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0126 - root_mean_squared_error: 0.1120
Epoch 35/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0125 - root_mean_squared_error: 0.1117
Epoch 36/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0124 - root_mean_squared_error: 0.1115
Epoch 37/45
23/23 [==============================] - 3s 131ms/step - loss: 0.0123 - root_mean_squared_error: 0.1111
Epoch 38/45
23/23 [==============================] - 3s 129ms/step - loss: 0.0123 - root_mean_squared_error: 0.1108
Epoch 39/45
23/23 [==============================] - 3s 129ms/step - loss: 0.0122 - root_mean_squared_error: 0.1106
Epoch 40/45
23/23 [==============================] - 3s 132ms/step - loss: 0.0122 - root_mean_squared_error: 0.1103
Epoch 41/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0121 - root_mean_squared_error: 0.1100
Epoch 42/45
23/23 [==============================] - 3s 129ms/step - loss: 0.0120 - root_mean_squared_error: 0.1097
Epoch 43/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0120 - root_mean_squared_error: 0.1095
Epoch 44/45
23/23 [==============================] - 3s 130ms/step - loss: 0.0120 - root_mean_squared_error: 0.1094
Epoch 45/45
23/23 [==============================] - 3s 127ms/step - loss: 0.0119 - root_mean_squared_error: 0.1090

* Take last days, 28 ("timestep" parameter) in order to predict firts unknown day's sales.
* Before using values for prediction, again use min-max transformation

In [ ]:
#alternate method for LSTM either execute upper one or this ome:
# Importing the Keras libraries and packages
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

# Initialising the RNN
regressor = Sequential()

# Adding the first LSTM layer and some Dropout regularisation
layer_1_units=50
regressor.add(LSTM(units = layer_1_units, return_sequences = True, input_shape = (X_train.shape[1], X_train.shape[2])))
regressor.add(Dropout(0.2))

# Adding a third LSTM layer and some Dropout regularisation
layer_3_units=400
regressor.add(LSTM(units = layer_3_units, return_sequences = True))
regressor.add(Dropout(0.2))

# Adding a third LSTM layer and some Dropout regularisation
layer_3_units=400
regressor.add(LSTM(units = layer_3_units))
regressor.add(Dropout(0.2))

# Adding the output layer
regressor.add(Dense(units = 30490))

# Compiling the RNN
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')

# Fitting the RNN to the Training set
epoch_no=32
batch_size_RNN=44
regressor.fit(X_train, y_train, epochs = epoch_no, batch_size = batch_size_RNN)

Epoch 1/32
36/36 [==============================] - 3s 74ms/step - loss: 0.0179
Epoch 2/32
36/36 [==============================] - 3s 73ms/step - loss: 0.0157
Epoch 3/32
36/36 [==============================] - 3s 81ms/step - loss: 0.0153
Epoch 4/32
36/36 [==============================] - 3s 76ms/step - loss: 0.0150
Epoch 5/32
36/36 [==============================] - 3s 79ms/step - loss: 0.0148
Epoch 6/32
36/36 [==============================] - 3s 75ms/step - loss: 0.0146
Epoch 7/32
36/36 [==============================] - 3s 74ms/step - loss: 0.0144
Epoch 8/32
36/36 [==============================] - 3s 76ms/step - loss: 0.0142
Epoch 9/32
36/36 [==============================] - 3s 73ms/step - loss: 0.0141
Epoch 10/32
36/36 [==============================] - 3s 78ms/step - loss: 0.0140
Epoch 11/32
36/36 [==============================] - 3s 74ms/step - loss: 0.0139
Epoch 12/32
36/36 [==============================] - 3s 79ms/step - loss: 0.0138
Epoch 13/32
36/36 [==============================] - 3s 78ms/step - loss: 0.0137
Epoch 14/32
36/36 [==============================] - 3s 77ms/step - loss: 0.0135
Epoch 15/32
36/36 [==============================] - 3s 78ms/step - loss: 0.0135
Epoch 16/32
36/36 [==============================] - 3s 74ms/step - loss: 0.0134
Epoch 17/32
36/36 [==============================] - 3s 76ms/step - loss: 0.0133
Epoch 18/32
36/36 [==============================] - 3s 74ms/step - loss: 0.0133
Epoch 19/32
36/36 [==============================] - 3s 78ms/step - loss: 0.0132
Epoch 20/32
36/36 [==============================] - 3s 77ms/step - loss: 0.0132
Epoch 21/32
36/36 [==============================] - 3s 75ms/step - loss: 0.0131
Epoch 22/32
36/36 [==============================] - 3s 79ms/step - loss: 0.0131
Epoch 23/32
36/36 [==============================] - 3s 74ms/step - loss: 0.0131
Epoch 24/32
36/36 [==============================] - 3s 74ms/step - loss: 0.0131
Epoch 25/32
36/36 [==============================] - 3s 76ms/step - loss: 0.0130
Epoch 26/32
36/36 [==============================] - 3s 78ms/step - loss: 0.0129
Epoch 27/32
36/36 [==============================] - 3s 74ms/step - loss: 0.0129
Epoch 28/32
36/36 [==============================] - 3s 77ms/step - loss: 0.0129
Epoch 29/32
36/36 [==============================] - 3s 75ms/step - loss: 0.0128
Epoch 30/32
36/36 [==============================] - 3s 78ms/step - loss: 0.0127
Epoch 31/32
36/36 [==============================] - 3s 75ms/step - loss: 0.0127
Epoch 32/32
36/36 [==============================] - 3s 73ms/step - loss: 0.0126

In [ ]:
inputs_eval = sales_train_evaluation[-timesteps:]
inputs_eval = sc.transform(inputs_eval)

inputs = sales_train_evaluation[-timesteps*2:-timesteps]
inputs = sc.transform(inputs)

Predicting the future sales for validation and evaluation periods

In [ ]:
X_test = []
X_test.append(inputs[0:timesteps])
X_test = np.array(X_test)
predictions = []

for j in range(timesteps,timesteps + 28):
    predicted_stock_price = model.predict(X_test[0,j - timesteps:j].reshape(1, timesteps, 30495))
    
    testInput = np.column_stack((np.array(predicted_stock_price),
                                 daysBeforeEvent1_valid.loc[1913 + j - timesteps],
                                 daysBeforeEvent2_valid.loc[1913 + j - timesteps],
                                 snap_CA_valid.loc[1913 + j - timesteps],
                                snap_TX_valid.loc[1913 + j - timesteps],
                                snap_WI_valid.loc[1913 + j - timesteps]))

    X_test = np.append(X_test, testInput).reshape(1,j + 1,30495)
    predicted_stock_price = sc.inverse_transform(testInput)[:,0:30490]
    predictions.append(predicted_stock_price)

In [ ]:
X_eval = []
X_eval.append(inputs_eval[0:timesteps])
X_eval = np.array(X_eval)
predictions_eval = []

for j in range(timesteps,timesteps + 28):
    predicted_stock_price = model.predict(X_eval[0,j - timesteps:j].reshape(1, timesteps, 30495))
    
    testInput = np.column_stack((np.array(predicted_stock_price),
                                 daysBeforeEvent1_eval.loc[1941 + j - timesteps],
                                 daysBeforeEvent2_eval.loc[1941 + j - timesteps],
                                 snap_CA_eval.loc[1941 + j - timesteps],
                                snap_TX_eval.loc[1941 + j - timesteps],
                                snap_WI_eval.loc[1941 + j - timesteps]))

    X_eval = np.append(X_eval, testInput).reshape(1,j + 1,30495)
    predicted_stock_price = sc.inverse_transform(testInput)[:,0:30490]
    predictions_eval.append(predicted_stock_price)

In [ ]:
print(predictions_eval)

[array([[1.04071349, 0.13319814, 0.74403271, ..., 0.59296631, 1.67872238,
        1.47395146]]), array([[1.04400739, 0.14682303, 0.66828176, ..., 0.50846228, 1.58630669,
        1.09907645]]), array([[0.95177934, 0.19544285, 0.56959516, ..., 0.59079738, 1.3714681 ,
        1.07220501]]), array([[0.90204224, 0.2143088 , 0.46656369, ..., 0.545904  , 1.20334974,
        0.96587169]]), array([[0.98981537, 0.06132847, 0.72623129, ..., 0.49514187, 1.14666626,
        1.02491176]]), array([[ 1.57014877, -0.21924626,  0.99443731, ...,  0.51518087,
         1.46687883,  2.39389783]]), array([[1.14112824, 0.08822239, 0.90535989, ..., 0.79641019, 1.56725478,
        1.25786179]]), array([[0.87420031, 0.11549883, 0.69849247, ..., 0.86186912, 1.67817378,
        0.98344427]]), array([[0.92105657, 0.15005157, 0.67929858, ..., 0.87227683, 1.49669552,
        0.97369945]]), array([[0.96267648, 0.14722593, 0.58870482, ..., 0.83734727, 1.54952109,
        0.86956036]]), array([[0.86420417, 0.12749324, 0.59647255, ..., 0.93280193, 1.27712899,
        0.79901451]]), array([[ 0.97143807, -0.00452109,  0.76390868, ...,  0.8779562 ,
         1.42695183,  0.8861593 ]]), array([[ 1.24888659e+00, -3.04765999e-04,  8.59874994e-01, ...,
         1.14423242e+00,  1.45510411e+00,  1.49526465e+00]]), array([[ 1.05823167, -0.04606705,  0.74138501, ...,  1.12763199,
         1.7256766 ,  0.92404032]]), array([[ 0.87866634, -0.02592597,  0.69146039, ...,  1.03709358,
         1.76792014,  0.75754184]]), array([[0.9867201 , 0.00700239, 0.65211077, ..., 0.78198583, 1.67394036,
        0.76130891]]), array([[0.99262543, 0.1325491 , 0.64119405, ..., 0.80789164, 1.41369984,
        0.92084849]]), array([[0.93511187, 0.17278014, 0.60932337, ..., 0.79749244, 1.1965988 ,
        0.93731564]]), array([[ 1.10408388, -0.03658066,  0.90575391, ...,  0.77618255,
         1.08407316,  1.10854644]]), array([[ 1.43986598, -0.12472622,  1.04803106, ...,  0.95092943,
         1.30086225,  1.98865664]]), array([[0.97667545, 0.15081218, 0.93225932, ..., 1.03321457, 1.3911083 ,
        0.52377418]]), array([[0.87947302, 0.01182327, 0.71720257, ..., 0.71211243, 1.56834233,
        1.02943897]]), array([[0.9306787 , 0.12570809, 0.62170587, ..., 0.56698639, 1.46475962,
        1.0146634 ]]), array([[0.97006299, 0.17324908, 0.55687116, ..., 0.52796164, 1.21727613,
        1.03294605]]), array([[0.91338515, 0.22366401, 0.57484759, ..., 0.55427389, 1.05508697,
        1.00785023]]), array([[1.07533813, 0.03582945, 0.95131838, ..., 0.51073901, 0.90494496,
        1.33816552]]), array([[ 1.44556835, -0.01835156,  1.16122779, ...,  0.54128909,
         1.19957739,  2.00407809]]), array([[0.95296815, 0.15157197, 0.9298667 , ..., 0.58511253, 1.66574299,
        1.18792677]])]

In [ ]:
import time

submission = pd.DataFrame(data=np.array(predictions).reshape(28,30490))
submission = submission.T

submission_eval = pd.DataFrame(data=np.array(predictions_eval).reshape(28,30490))
submission_eval = submission_eval.T

submission = pd.concat((submission, submission_eval), ignore_index=True)

sample_submission = pd.read_csv("/content/gdrive/My Drive/Kaggle/sample_submission.csv")
    
idColumn = sample_submission[["id"]]
    
submission[["id"]] = idColumn  

cols = list(submission.columns)
cols = cols[-1:] + cols[:-1]
submission = submission[cols]

colsdeneme = ["id"] + [f"F{i}" for i in range (1,29)]

submission.columns = colsdeneme

currentDateTime = time.strftime("%d%m%Y_%H%M%S")

cols = ['F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F10',
       'F11', 'F12', 'F13', 'F14', 'F15', 'F16', 'F17', 'F18', 'F19', 'F20',
       'F21', 'F22', 'F23', 'F24', 'F25', 'F26', 'F27', 'F28']

submission[cols] = submission[cols].mask(submission[cols] < 0, 0)
submission.to_csv("submission.csv", index=False)

In [ ]:
submission_df =pd.read_csv("/content/gdrive/My Drive/Kaggle/submission.csv")

In [ ]:
submission

                                  id        F1  ...       F27       F28
0      HOBBIES_1_001_CA_1_validation  0.735134  ...  1.393663  0.966278
1      HOBBIES_1_002_CA_1_validation  0.018029  ...  0.097230  0.090801
2      HOBBIES_1_003_CA_1_validation  0.506919  ...  1.175036  1.048926
3      HOBBIES_1_004_CA_1_validation  1.330733  ...  2.746398  3.999021
4      HOBBIES_1_005_CA_1_validation  1.335066  ...  1.685852  2.548416
...                              ...       ...  ...       ...       ...
60975    FOODS_3_823_WI_3_evaluation  0.510524  ...  0.403577  0.520292
60976    FOODS_3_824_WI_3_evaluation  0.365341  ...  0.116040  0.000000
60977    FOODS_3_825_WI_3_evaluation  0.592966  ...  0.541289  0.585113
60978    FOODS_3_826_WI_3_evaluation  1.678722  ...  1.199577  1.665743
60979    FOODS_3_827_WI_3_evaluation  1.473951  ...  2.004078  1.187927

[60980 rows x 29 columns]